@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

.login-form {
  margin-top: 15%;
  margin-left: 35%;
}

.logo {
  width: 15%;
  margin-bottom: 3%;
  margin-left: 5%;
}

.form-style {
  background-color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

/* 新規登録 */


.register-form {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: 10%;
  margin-top: 5%;
}

.birth {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


/* サイドバー */
.sidebar {
  width: 190px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

.Icon {
  margin: 0 3%;
  width: 15%;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.calendar-title {
  display: flex;
  justify-content: center;
}

.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background-color: #EEEEEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.post_bottom_area {
  justify-content: space-between;
}

.post_status {
  width: 100%;
}

.post-subcategory {
  display: block;
  background-color: #33CCFF;
  color: white;
  border: none;
  border-radius: 5px;
  width: 5em;
  max-width: 100%;
  text-align: center;
}

.toggle-container {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
  cursor: pointer;
  /* display: block; */
}

/* .toggle-main-category {
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
  display: block;
} */

.toggle-icon {
  margin-left: auto;
  margin-right: 0.5em;
}

.toggle-icon.rotated {
  transform: rotate(180deg);
  transition: transform 0.1s ease;
}

.sub_categories {
  display: none;
}

.sub_category_btn {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  cursor: pointer;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

/* .subjects {
  display: flex;
}
 */
/* .comment-like {
  margin-left: auto;
} */

/* .icon {
  display: flex;
  position: absolute;
} */

.post a {
  display: inline-block;
  background-color: #33CCFF;
  color: white;
  border: none;
  border-radius: 5px;
  width: 18em;
  /* width: 225px; */
  max-width: 100%;
  text-align: center;
  cursor: pointer;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
  display: inline-block;
  white-space: nowrap;
}

.m-4 {
  width: 63%;
}

/* .post {
  max-width: 100%;
} */

.search-form {
  margin-top: 5%;
  max-width: 100%;
  display: flex;
}

.keyword-form {
  max-width: 100%;
  font-size: 1vw;
  width: 175%;
}

.search {
  display: inline-block;
  background-color: #33CCFF;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  text-align: center;
  cursor: pointer;
  /* width: 50px; */
  height: 28px;
  width: 100%;
  /* max-width: 100%; */
  /* margin-left: -1%; */
}

.posts {
  display: flex;
  width: 100%;
}

.like_posts {
  background-color: #FF99FF;
  color: white;
  border: none;
  border-radius: 5px;
  flex: 1;
  font-size: 1vw;
  cursor: pointer;
}

.my_posts {
  background-color: #FFCC33;
  color: white;
  border: none;
  border-radius: 5px;
  flex: 1;
  cursor: pointer;
  /* width: 52%; */
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  /* cursor: pointer; */
}

/* .alert.alert-danger {
  display: inline-block;
  white-space: nowrap;
} */

/* 掲示板 詳細画面 */
.detail_container {
  background: #FFF;
}

.create-subcategory {
  display: block;
  background-color: #33CCFF;
  color: white;
  border: none;
  border-radius: 5px;
  width: 5em;
  max-width: 60%;
  text-align: center;
}

.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsil_post_title {
  font-size: 14px;
}

.detsil_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

.detail_id {
  width: 10%;
  color: white;
  background-color: #03AAD2;
}

.detail_name {
  width: 25%;
  color: white;
  background-color: #03AAD2;
}

.detail_place {
  width: 40%;
  color: white;
  background-color: #03AAD2;
}

.color-test:nth-child(even) {
  text-align: center;
  background-color: white;
}

.color-test:nth-child(odd) {
  text-align: center;
  background-color: #CCFFFF;
}

/* 投稿作成 */
.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

/* .post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
} */

.category_area {
  background: #FFF;
  border-radius: 10px;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */

/* .category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
} */

/* ユーザー検索 */
.user_search {
  width: 65%;
}

.head-search {
  display: block;
  font-size: 1.3em;
}

.free_word {
  width: 100%;
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
}

.category-list {
  /* display: block; */
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
  width: 30%;
}

.sort-list {
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
  width: 30%;
}

.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px 5%;
  /* height: 80vh; */
  overflow: scroll;
  padding: 10px;
  /* background: #FFF; */
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
  background-color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 1%;
  padding: 2%;
}

.profile_category {
  margin-bottom: 5%;
}

.search_area .condition-add {
  margin-top: 10%;
}

.search_conditions {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

/* .toggle-search-conditions {
  cursor: pointer;
} */

/* .search_conditions span {
  cursor: pointer;
} */

.search_conditions_inner {
  display: none;
  /* background: #FFF; */
}

.search-sex {
  display: block;
  margin: 8% 0 2%;
}

.auth {
  display: block;
  margin: 5% 0 2%;
}

.engineer {
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
}

.selected_engineer {
  margin-top: 8%;
}

.search_btn {
  display: inline-block;
  background-color: #03AAD2;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  /* width: 225px; */
  max-width: 100%;
  text-align: center;
  margin: 5% 0;
  cursor: pointer;
}

.reset_btn {
  display: block;
  border: none;
  color: #03AAD2;
  margin: 0 auto;
  cursor: pointer;
}

.subject_edit_btn {
  font-size: 12px;
  /* color: #0000FF; */
  color: #00BFFF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.profile-toggle-icon {
  font-size: 12px;
  color: #00BFFF;
  cursor: pointer;
  margin-left: 0.5em;
}

.profile-toggle-icon.rotated {
  transform: rotate(180deg);
  transition: transform 0.1s ease;
  margin-left: 0.5em;
  color: #00BFFF;
}

.subject-register {
  display: flex;
  /* border-bottom: 1px solid black; */
  /* width: 100%; */
  text-align: left;
  margin: 2% 0 1%;
}

/* .btn btn-primary edit_btn {
  display: block;
} */
